{% extends "layout.html" %}

{% block title %}Delete Birthday{% endblock %}

{% block body %}
    <div class="header">
        <h1>Delete Birthday</h1>
    </div>
    <div class="container">
        <form method="post" action="{{ url_for('delete', id=birthday.id) }}">
            <div class="section">
                <p>Are you sure you want to delete {{ birthday.name }}'s birthday?</p>
            </div>
            <div class="form-group">
                <button class="delete-button"><i class="fas fa-trash-alt button-icon"></i>Delete</button>
                <a href="{{ url_for('index') }}" class="edit-button"><i class="fas fa-times button-icon"></i>Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}